.box{
    height: 250px;
    width: 900px;
    background-color: gray;
}

.navbar{
    height: 60px;
    background-color: lightgray;
}
.space{
    height: 150px;
}
.space-2{
    height: 200px;
}
.space-3{
    height: 30px;
}
.box-2{
    height: 450px;
    width: 400px;
    background-color: gray;
    
}
.box-3{
    height: 450px;
    width: 600px;
    background-color: gray;
}

#darklightmodebutton{
    height: 30px;
    width: 100px;
}
